<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
     
      <% @user.errors.full_messages.each do |msg| %>
        <p class="msg"><%= msg %></p>
      <% end %>
      
    </div>
  <% end %>

  
  
  <fieldset>
		<legend></legend>
		<div class="row">
		<div class="col-xs-1 col-sm-3 col-md-4"></div>
		<%= f.text_field :name, :size => 40, placeholder: "Username", class: "input col-xs-10 col-sm-6 col-md-4" %>
		<div class="col-xs-1 col-sm-3 col-md-4"></div>
		</div>
		
		<div class="row">
		<div class="col-xs-1 col-sm-3 col-md-4"></div>
		<%= f.text_field :email, :size => 40, placeholder: "Email", class: "input col-xs-10 col-sm-6 col-md-4" %>
		<div class="col-xs-1 col-sm-3 col-md-4"></div>
		</div>
		
		<div class="row">
		<div class="col-xs-1 col-sm-3 col-md-4"></div>
		<%= f.password_field :password, :size => 40, placeholder: "Password", class: "input col-xs-10 col-sm-6 col-md-4" %>
		<div class="col-xs-1 col-sm-3 col-md-4"></div>
		</div>
		
		<div class="row">
		<div class="col-xs-1 col-sm-3 col-md-4"></div>
		<%= f.password_field :password_confirmation, :size => 40, placeholder: "Confirm Password", class: "input col-xs-10 col-sm-6 col-md-4" %>
		<div class="col-xs-1 col-sm-3 col-md-4"></div>
		</div>
		
		<div class="row">
		<div class="col-xs-2  col-sm-4"></div>
		<%= f.submit "Create Account", class: "button_1 col-xs-8 col-sm-4", id: "submit"%>
		<div class="col-xs-2  col-sm-4"></div>
		</div>
		</div>
	</fieldset>
<% end %>
