	<!-- Modal -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
				<div class="modal-content">
				  <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title" id="myModalLabel">Clocking Out?</h4>
				  </div>
				  

				  
					<div class="modal-body">
							<p id="current_time_3"><span id="current_time_2">Time: 00:00:00</span></p> <br>
						
						
						
							 <%= form_for(@time_card, html: { id: "myForm" } ) do |f| %>
								 <% if @time_card.errors.any? %>
									<div id="error_explanation">
									  <h2><%= pluralize(@time_card.errors.count, "error") %> prohibited this time_card from being saved:</h2>

									  <ul>
									  <% @time_card.errors.full_messages.each do |msg| %>
										<li><%= msg %></li>
									  <% end %>
									  </ul>
									</div>
								  <% end %>
							
							<div id="edit_time">
								<p id= "no_way">Did you really work <span id="current_time_4">00:00:00</span>?!?</p>
								<p id="when_did">What time did you stop?</p>
									
									<div class="field input_3">
										<%= f.date_select :date %>
									</div>
									
									<div class="field input_3">
										<%= f.time_select :time_stopped, {ampm: true} %>
									</div>
									
									<div id="for_hidden"></div>
									<div id="for_hidden_1"></div>
									  

							</div>
								  
						    <div class="field">
							<%= f.text_field :client, placeholder: "Client Name", class: "input_modal" %>
							</div>
						  
							<div class="field">
							<%= f.text_field :message, placeholder: "Task ... ", class: "input_modal" %>
							</div>
					  </div>
				
					 
					  
					  
					  <div class="modal-footer">
						<button type="button" id="cancel" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<%= f.submit "Log it!", class: "btn btn-primary", id: "submit_1" %>
						<input type="hidden" name="total_seconds" value="">
					  </div>
				  
				  <% end %>
				</div>
			  </div>
			</div>