	<div class="row">
		<a href="http://hourslogger.com/" id="link_back"><button class="col-xs-2"  id="back">Back</button></a>
		<div class="col-xs-10"></div>
	</div>
		
	<div class="header">
		<div class="row">
			<div class="col-xs-1 col-sm-2 col-lg-4"></div>
			<%= image_tag("logo.png", :id => "logo_3", :class => "col-xs-10 col-sm-8 col-lg-4") %>
			<div class="col-xs-1 col-sm-2 col-lg-4"></div>
		</div>
	</div>


	<div class="row">
		<div id="menu">
		<div class="col-xs-1 col-sm-2 col-lg-4"></div>
			<div class="col-xs-10 col-sm-8 col-lg-4">
			<p class="menu_item col-xs-3" id="current">Week</p>
			<p class="menu_item col-xs-3" ><%= link_to "Month", "/month" %></p>
			<p class="menu_item col-xs-3" ><%= link_to "Year", "/year" %></p>
			<p class="menu_item col-xs-3" ><%= link_to "All", "/all" %></p>
		</div>
		<div class="col-xs-1 col-sm-2 col-lg-4"></div>
		</div>
	</div>
			
	<div class="row">	
		<div class="col-xs-1 col-sm-2 col-lg-4"></div>
		<p class="col-xs-10 col-sm-8 col-lg-4" id="total">Total: <%=  number_with_precision(@hours_this_week, :precision => 2) %> hrs</p>
		<div class="col-xs-1 col-sm-2 col-lg-4"></div>
	</div>

  
	<% @time_cards.each do |time_card| %>
	<div class="container">
	
		<div class="<%= cycle("time_card" , "time_card_2" ) %>">
				
					<div class="row">
						<div class="col-xs-1"></div>
						<p class="col-xs-1" id="log"><%= @count = @count+1 %></p>
						<p class="col-xs-9" id = "date"><%= time_card.date.strftime("%A, %h %e %G") %></p>
						<div class="col-xs-1"></div>
					</div>
					
					<% 
						local_start	= Time.new
						local_stop	= Time.new
						local_start = time_card.time_started
						local_stop  = time_card.time_stopped
						
						
						local_start_1 = local_start
						local_stop_1 = local_stop
						local_start = local_start.strftime('%l:%M%P')
						local_stop = local_stop.strftime('%l:%M%P')
					%>
					
				<div class="row">
					<div class="col-xs-2"></div>
					<p class="col-xs-8" id="the_time"><%= local_start %> - <%= local_stop %></p>
					<%= link_to image_tag("edit.png", :class => "edit_icon"), edit_time_card_path(time_card) %>
				</div>
				
				<div class="row">
					<div class="col-xs-2"></div>
					<p class="col-xs-8" id="hours"><%= number_with_precision(((local_stop_1 - local_start_1)/3600), :precision => 2) %> hrs</p>
					
				</div>
				
				<div class="row">
				<div class="col-xs-2"></div>
				<p class="col-xs-7" id="message"><%= time_card.message %></p>
				<div class="col-xs-1"></div>
				<%= link_to image_tag("delete.png", :class => "cancel_icon"), time_card, method: :delete, data: { confirm: "Are you sure you want to delete this time card?" } %>
				</div>
		</div>
	</div>
	<% end %>
